<div ng-include="'views/header.html'"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>All Searches</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">All Search Details</div>

                <!-- Table -->
                <table class="table">
                    <tr>
                        <th>S.No.</th>
                        <th>Location Name</th>
                        <th>Full Address</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Searched On</th>
                    </tr>
                    <tr ng-repeat="search in allSearchData">
                        <td>{{$index +1}}</td>
                        <td>{{search.locationName}}</td>
                        <td>{{search.fullAddress}}</td>
                        <td>{{search.coordinates.latitude| number : 2}}</td>
                        <td>{{search.coordinates.longitude| number : 2}}</td>
                        <td>{{search.createdOn| date : "dd.MM.yyyy hh:mm:ss" }}</td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
